<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Linkz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{/}">
                <h1 class="title">Die besten Linkz</h1>
            </a>
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/submit}">Link posten</a>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <article class="message is-success" th:if="${linkSubmitted}">
                <div class="message-body">
                    Vielen Dank für deinen tollen Link!
                </div>
            </article>
            <article class="message is-success" th:if="${voted}">
                <div class="message-body">
                    Vielen Dank für deine Stimme!
                </div>
            </article>
            <div class="box" th:each="link : ${links}">
                <article class="media">
                    <div class="media-left">
                        <div class="field">
                            <form th:action="@{/vote}" method="post">
                                <input type="hidden" name="linkId" th:value="${link.id}">
                                <input type="hidden" name="up" th:value="${true}">
                                <button type="submit" class="button is-small is-fullwidth">▲</button>
                            </form>
                            <form th:action="@{/vote}" method="post">
                                <input type="hidden" name="linkId" th:value="${link.id}">
                                <input type="hidden" name="up" th:value="${false}">
                                <button type="submit" class="button is-small is-fullwidth">▼</button>
                            </form>
                        </div>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a th:href="${link.url}" th:text="${link.title}" target="_blank"></a>
                                <br>
                                <strong th:text="${link.points}"></strong> Punkte
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</body>
</html>
