<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Linkz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Die besten Linkz</h1>
            <nav class="level">
                <div class="level-left">
                    <a th:href="@{/submit}">Link posten</a>
                </div>
            </nav>
            <div class="box" th:each="link : ${links}">
                <article class="media">
                    <div class="media-left">
                        <div class="field">
                            <button class="button is-small is-fullwidth">▲</button>
                            <button class="button is-small is-fullwidth">▼</button>
                        </div>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a th:href="${link.url}" th:text="${link.title}" target="_blank"></a>
                                <br>
                                <strong th:text="${link.points}"></strong> Punkte
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</body>
</html>
